shell=/bin/bash path=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/bin/futuresboard
@reboot sleep 10; /bin/bash -c tmuxp load /root/apollo/session.yaml

0 0  * * MON                          cd /root/apollo && python3 futures.py --coin SOL
0 4  * * MON,TUE                      cd /root/apollo && python3 futures.py --coin BTC
0 8  * * MON,TUE,WED                  cd /root/apollo && python3 futures.py --coin BNB
0 12 * * MON,TUE,WED,THU              cd /root/apollo && python3 futures.py --coin DOT
0 16 * * MON,TUE,WED,THU,FRI          cd /root/apollo && python3 futures.py --coin XRP
0 20 * * MON,TUE,WED,THU,FRI,SAT      cd /root/apollo && python3 futures.py --coin ADA
0 23 * * MON,TUE,WED,THU,FRI,SAT,SUN  cd /root/apollo && python3 futures.py --coin ETH

0 13 * * MON                          cd /root/apollo && python3 spot.py --coin ETH
0 17 * * MON,TUE                      cd /root/apollo && python3 spot.py --coin ADA
0 21 * * MON,TUE,WED                  cd /root/apollo && python3 spot.py --coin XRP
0 1  * * MON,TUE,WED,THU              cd /root/apollo && python3 spot.py --coin DOT
0 5  * * MON,TUE,WED,THU,FRI          cd /root/apollo && python3 spot.py --coin BNB
0 9  * * MON,TUE,WED,THU,FRI,SAT      cd /root/apollo && python3 spot.py --coin BTC
0 11 * * MON,TUE,WED,THU,FRI,SAT,SUN  cd /root/apollo && python3 spot.py --coin SOL

30 0 * * *                            cd /root/apollo && python3 transfer.py

0 0 * * *                             cd /root/apollo && python3 margin.py --pair ETHBTC --strategy tradingview
59 1 * * *                            cd /root/apollo && python3 margin.py --pair ETHBTC --strategy coinglass

1 2 * * *                            cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_fibonacciretracement
2 3 * * *                            cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_supertrend
3 4 * * *                            cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_div
4 5 * * *                            cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_round
5 6 * * *                            cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_cci
6 7 * * *                            cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_dmi
7 8 * * *                            cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_bbands2
8 9 * * *                            cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_doji
9 10 * * *                           cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_candle
10 11 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_stddev
11 12 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_pivotpoints
12 13 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_vortex
13 14 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_natr
14 15 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_cmf
15 16 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_mult
16 17 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_mult
17 18 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_cmo
18 19 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_stoch
19 20 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_stalledpattern
20 21 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_stalledpattern
21 22 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_tsf
22 23 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC --strategy taapi_hma



