shell=/bin/bash path=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/bin/futuresboard
@reboot sleep 10; /bin/bash -c tmuxp load /root/apollo/session.yaml

0 0  * * MON                          cd /root/apollo && python3 futures.py --coin SOL
0 4  * * MON,TUE                      cd /root/apollo && python3 futures.py --coin BTC
0 8  * * MON,TUE,WED                  cd /root/apollo && python3 futures.py --coin BNB
0 12 * * MON,TUE,WED,THU              cd /root/apollo && python3 futures.py --coin DOT
0 16 * * MON,TUE,WED,THU,FRI          cd /root/apollo && python3 futures.py --coin XRP
0 20 * * MON,TUE,WED,THU,FRI,SAT      cd /root/apollo && python3 futures.py --coin ADA
0 23 * * MON,TUE,WED,THU,FRI,SAT,SUN  cd /root/apollo && python3 futures.py --coin ETH

0 13 * * MON                          cd /root/apollo && python3 spot.py --coin ETH
0 17 * * MON,TUE                      cd /root/apollo && python3 spot.py --coin ADA
0 21 * * MON,TUE,WED                  cd /root/apollo && python3 spot.py --coin XRP
0 1  * * MON,TUE,WED,THU              cd /root/apollo && python3 spot.py --coin DOT
0 5  * * MON,TUE,WED,THU,FRI          cd /root/apollo && python3 spot.py --coin BNB
0 9  * * MON,TUE,WED,THU,FRI,SAT      cd /root/apollo && python3 spot.py --coin BTC
0 11 * * MON,TUE,WED,THU,FRI,SAT,SUN  cd /root/apollo && python3 spot.py --coin SOL

30 0 * * *                            cd /root/apollo && python3 transfer.py

30 */0 * * *                          cd /root/apollo && python3 margin.py --pair ETHBUSD
30 */8 * * *                          cd /root/apollo && python3 margin.py --pair ETHBTC
30 */16 * * *                         cd /root/apollo && python3 margin.py --pair BTCBUSD
