shell=/bin/bash path=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/bin/futuresboard

# 1W
8 2 * * MON cd /root/apollo/testing && python3 AUCTION.py
28 10 * * WED cd /root/apollo/testing && python3 GALA.py
48 18 * * SUN cd /root/apollo/testing && python3 FTM.py

# 3D
7 4 * * MON,THU cd /root/apollo/testing && python3 LDO.py
27 12 * * THU,FRI cd /root/apollo/testing && python3 DOGE.py
47 20 * * WED,SAT cd /root/apollo/testing && python3 ADA.py

# 1D
17 0 * * * cd /root/apollo/testing && python3 GMT.py
27 8 * * * cd /root/apollo/testing && python3 LEVER.py
47 16 * * * cd /root/apollo/testing && python3 1000LUNC.py

# 12H
15 */12 * * * cd /root/apollo/testing && python3 LTC.py
35 */12 * * * cd /root/apollo/testing && python3 1000SHIB.py
55 */12 * * * cd /root/apollo/testing && python3 ANC.py

# 6H
10 */6 * * * cd /root/apollo/testing && python3 MATIC.py
40 */6 * * * cd /root/apollo/testing && python3 TLM.py
59 */6 * * * cd /root/apollo/testing && python3 DODO.py

# 3H
5  */3 * * * cd /root/apollo/testing && python3 NEAR.py
25 */3 * * * cd /root/apollo/testing && python3 APE.py
45 */3 * * * cd /root/apollo/testing && python3 LINK.py

# 1H
0  * * * * cd /root/apollo/testing && python3 SAND.py
20 * * * * cd /root/apollo/testing && python3 TRX.py
40 * * * * cd /root/apollo/testing && python3 XRP.py